@import 'variables';
#slider ul {
	width: auto;
	 li {
		width:948px;
		height:269px;
		overflow:hidden;		
		margin-top:47px;
		float: none;
		text-align: center;
		margin-left: 0 !important;
		a {
			display: inline-block;
			margin-left: 35px;
			&:first-child {
				display: inline-block;
				margin-left: 0;
			}	
		}
	}
}
#controls{
	position: absolute;
	top: -40px;
	right: 48px;
	li{
		margin:0 5px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		a{
			float:left;
			text-decoration: none;
			font: 18px "Verdana";
			color: #797978;
			padding: 0 4px;
		}
	}
	.current {
		a{color:@white;}
	}
}
	