@import 'variables';
@import (less) 'sprite.css';

.footer{
	color: @white;
	.darken-row-rotate;
	&-toplist{
		/*background: #000;*/
		padding: 10px 0;
		li{
			display: inline-block;
			margin-right: 15px;
			a{
				font: normal 14px 'Arial';
				text-decoration: none;
				color: inherit;
				&:hover{text-decoration: underline;}
			}
		}
	}
	&-bottomlist{
		overflow: hidden;
		padding: 20px 0;
		.warning{
			float: left;
		   padding: 20px 0 0 85px;
		   width: 50%;
		   position: relative;
			&:before{
				.before;
				.icon-stop;
			}
			p{
				font: normal 18px 'Arial';
			}
		}
		.payment{
			float: right;
			&-title{
				padding-bottom: 10px;
				display: block;
			}
			&-list{
				li{
					display: inline-block;
					margin-right: 10px;
					a{
						position: relative;
						display: block;
						width: 50px;
    					height: 30px;
						&:before{
							content: '';
							display: block;	
							position: absolute;
							top: 0;
							left: 0;
							width: 30px;
						}
					} 
					.sms{ &:before{.icon-sms;} }
					.webmoney{ &:before{.icon-webmoney;} }
					.ya-money{ &:before{.icon-ya-money;} }
					.visa{ &:before{.icon-visa;} }
					.master{ &:before{.icon-master;} }
					.rbk{ &:before{.icon-rbk;} }
					.kivi{ &:before{.icon-kivi;} }
				}
			}
		}
	}
}