@import 'variables';
@import (less) 'sprite.css';

.header{
	width: 100%;
	.border-color;
	padding: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&-banner{
		height: 128px;
		background: url('../images/header-bg.jpg') no-repeat;
		&__logo{
			text-align: center;
			line-height: 128px;
			img{
				vertical-align: middle;
			}
		}  
	}
}
.header-navigation{
	&__top{
		letter-spacing: normal;	
		li{
			display: inline-block;
			padding: 20px 10px 25px 20px;
			a{
				text-decoration: none;
				display: block;
				color: @white; 
				font: 24px "Arial";
				position: relative;
				margin: 0 0 0 20px;
				&:hover{
					color: @yellow;
					cursor: pointer;
					.transition(color .2s ease-in);
				}
			}
			.download{ 
				&:before{
					content: '';
					display: block;
					position: absolute;
					right: -40px;
					top: -5px;
					.icon-download-hover;
				}
				&:hover:before{.icon-download;}
			}
		}
	}
	&__bottom{
		background: @white;
		li{
			display: inline-block;
			padding: 10px 20px 10px 70px;
			a{
				position: relative;
				color: @grey;
				font: normal 14px 'Arial';
				text-decoration: none;
				&:hover{
					color: @black;
				}
				&:before{
					content: '';
					display: block;
					position: absolute;
					top: -5px;
					left: -30px;
				}
			}
			.popular{ &:before{.icon-1;} }
			.slots{ &:before{.icon-2;} }
			.jackpot{ &:before{.icon-3;} }
			.roulette{ &:before{.icon-4;} }
			.videopokers{ &:before{.icon-5;} }
			.other{ &:before{.icon-6;} }
			.cards{ 
				&:before{
					.icon-7;
					left: -50px;
				} 
			}
		}
	}
}




				