@import 'header';
*{
	padding: 0;
	margin: 0;
}
input:focus, button:focus, textarea:focus, select:focus{
	outline: none;
}
ul, ol, li{
	list-style: none;
	/*background: @white !important;*/
}
.wrap{
	width: 1280px;
	margin: 0 auto 50px auto; 
}
body{
	background: url('../images/body-bg.png') no-repeat #000;
	-webkit-background-size: cover;
	background-size: cover;
}
main{
	position: relative;
}
.social-icon{
	display: block;
	position: absolute;
	left: -30px;
	top: 40px;
	li{
		display: block;
		margin-bottom: 12px;
		a{
			position: relative;
			display: block;
			height: 23px;
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.vk{ &:before{.icon-vk;} }
		.google{ &:before{.icon-google;} }
		.tw{ &:before{.icon-tw;} }
		.fb{ &:before{.icon-fb;} }
		.mail{ &:before{.icon-mail;} }
		.ok{ &:before{.icon-ok;} }
		.ya{ &:before{.icon-ya;} }
	}
}
.container{
	overflow: hidden;
	margin: 20px 0;
	.border-color;
	padding: 4px;
	&-nobg{
		background: none;
		padding: 0;
		h1{
			text-align: center;
			color: @white;
			text-transform: uppercase;
			font: bold 30px 'Verdana';
		}
	}
	&-sidebar{
		float: left;
		width: 320px;
		height: 313px;
		.blue-gradient;
	}
	.sidebar-top{
		.blue-gradient;
		overflow: hidden;
		&__title{
			color: @yellow;
			font: bold 14px 'Verdana';
			text-transform: uppercase;
			text-shadow: 0 1px 1px @black;
			padding: 0 0 0 15px;
		   display: block;
		   float: left;
		   line-height: 36px;
		}
		&__count{
			position: relative;
			.bg-total-list;
			float: right;
			width: 200px;
		   line-height: 36px;
		   float: right;
		   &:before{
				.before;
				width: 200px;
				height: 36px;
				background: url('../images/box-list.png')no-repeat;
			}
		   li{
		   	display: block;
		   	float: left;
		   	padding: 0 4px;
		   	a{
		   		color: @white;
		   		font: 21px 'Verdana';
		   		text-decoration: none;
		   		position: relative;
		   	}
		   	.total:before{
		   		.before;
		   		top: 5px;
		   		left: 5px;
		   		.icon-cash;
		   	}
		   }
		}
	}
	.row{
		margin: 20px;
		font: bold 18px 'Verdana';
		color: @white;
		&-text{
			float: left;
			&__last{
				text-align: right;
				span{
					color: @orange;
				}
			}
			&__center{
				text-align: center;
				font-size: 24px;
			}
		}
	}
	&-banner{
		width: 952px;
		height: 313px;
		background: url('../images/banner-bg.jpg');
		float: left;
		&__images{
			margin: 50px 0 50px 100px;
			display: block;
		}
	}
	&-button{
		border: 0;
		.button-yellow-gragient;
		color: lighten(@black, 10%);
		font: bold 28px 'Verdana';
		border-radius: 15px;
		.box-shadow(inset 0 -1px 7px 1px lighten(@black, 70%));
		padding: 15px 20px;
		margin: 0 0 0 100px;
		.transition(box-shadow .2s linear);
		&__small{
			font-size: 19px;
		}
		&:hover{
			cursor: pointer;
			.box-shadow(none);
			.transition(box-shadow .2s linear);
		}
		
		
	}
	&-carousel{
		background: none;
		.carousel{
			background: @black;
			position: relative;
		}
	}
	.carousel-sidebar{
		margin-left: 4px;
		width: 316px;
		background: url('../images/hot-titles.jpg') no-repeat center bottom;
		&__title{
			background: lighten(@grey, 60%);
			width: 100%;
			height: 60px;
			position: relative;
			&:before{
				.before;
				top: 15px;
				left: 10px;
				width: 291px;
				height: 28px;
				background: url('../images/hot-title.png');
			}
		}
	}
	.darken-row{
		&__title{
			color: @white;
			font: normal 24px/60px 'Verdana';
			display: inline-block;
		}
		&__title-bold{
			text-transform: uppercase;
		}
		&__title-indent{
			padding-left: 50px;
		}
		&__form{
			float: right;
			.button{
				width: 60px;
				height: 60px;
				border: 0;
				float: left;
				display: block;
				position: relative;
				&:before{
					.before;
				}
				&-row{ &:before{.icon-button-row;}	}
				&-square{ &:before{.icon-button-square;} }
			}
			.div-select{
				float: right;
				position: relative;
				width: 262px;
				height: 30px;
				margin: 15px 0 0 25px;
				.border-color;
				&__select{
					width: 258px;
					bottom: 0;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					color: @black;
					background: @white;
					margin: 2px;
				}
			}
		}
	}
	.games{
		.blue-gradient;
		overflow: hidden;
		height: 292px;
		p{
			font: bold 18px/27px 'Arial';
			color: @white;
			padding: 30px 0;
		}
		&-item{
			float: left;
			position: relative;
			border-radius: 5px;
			.games-item-bg;
		   padding: 4px 4px 0;
		   margin: 40px 12px;
		   &:last-of-type{margin-right: 0;}
		   &:first-of-type{margin-left: 0;}
		   &__title{
		   	position: absolute;
		   	top: -15px;
		   	left: 5px;
		   	right: 5px;
		   	margin: 0 auto;
		   	.button-yellow-gragient;
		   	padding: 4px;
		   	.border-radius(7px);
		   	text-align: center;
		   	span{
		   		display: block;
		   		.button-yellow-gragient;
		   		.border-radius(7px);
		   		padding: 4px;
		   		margin: 0 auto;
		   	  	color: @black;
		   		font: bold 22px 'Verdana';
		   		text-shadow: 0px -1px 1px @white;
		   		.box-shadow(inset 0 0 7px 1px lighten(@black, 70%));
		   	}
		   }
		   &__price{
		   	position: absolute;
		   	bottom: -10px;
		   	left: 0;
		   	right: 0;
		   	margin: 0 auto;
		   	.border-color;
		   	padding: 4px;
		   	width: 146px;
		   	border-radius: 4px;
		   	span{
			   	.radial-darken-row;
			   	color: @white;
			   	font: bold 15px 'Verdana';
			   	display: block;
			   	width: 100%;
			   	text-align: center;

		   	}
		   }
		}
		.arrow-block{
			position: relative;
			height: 63px;
			&__button{
				.before;
				right: 0;
				margin: 0 auto;
				top: -35px;
				width: 33px;
				height: 110px;
				background: url('../images/arrow.png') center;
				.rotate(-90deg);

			}
			&__button.current{
				.rotate(90deg);
			}
		}
	} 
}

