
.icon-1 {
  background-image: url(../images/sprite.png);
  background-position: -110px -105px;
  width: 24px;
  height: 25px;
}
.icon-2 {
  background-image: url(../images/sprite.png);
  background-position: -185px -93px;
  width: 28px;
  height: 25px;
}
.icon-3 {
  background-image: url(../images/sprite.png);
  background-position: -185px -118px;
  width: 27px;
  height: 24px;
}
.icon-4 {
  background-image: url(../images/sprite.png);
  background-position: -110px -75px;
  width: 23px;
  height: 28px;
}
.icon-5 {
  background-image: url(../images/sprite.png);
  background-position: -185px -64px;
  width: 28px;
  height: 29px;
}
.icon-6 {
  background-image: url(../images/sprite.png);
  background-position: 0px -163px;
  width: 20px;
  height: 28px;
}
.icon-7 {
  background-image: url(../images/sprite.png);
  background-position: -50px -135px;
  width: 40px;
  height: 26px;
}
.icon-button-row {
  background-image: url(../images/sprite.png);
  background-position: -75px 0px;
  width: 60px;
  height: 60px;
}
.icon-button-square {
  background-image: url(../images/sprite.png);
  background-position: 0px -75px;
  width: 60px;
  height: 60px;
}
.icon-cash {
  background-image: url(../images/sprite.png);
  background-position: -185px -142px;
  width: 15px;
  height: 20px;
}
.icon-download-hover {
  background-image: url(../images/sprite.png);
  background-position: -185px 0px;
  width: 32px;
  height: 32px;
}
.icon-download {
  background-image: url(../images/sprite.png);
  background-position: -185px -32px;
  width: 32px;
  height: 32px;
}
.icon-fb {
  background-image: url(../images/sprite.png);
  background-position: -114px -135px;
  width: 24px;
  height: 23px;
}
.icon-google {
  background-image: url(../images/sprite.png);
  background-position: -159px -112px;
  width: 24px;
  height: 23px;
}
.icon-kivi {
  background-image: url(../images/sprite.png);
  background-position: 0px -135px;
  width: 50px;
  height: 28px;
}
.icon-mail {
  background-image: url(../images/sprite.png);
  background-position: -135px -112px;
  width: 24px;
  height: 23px;
}
.icon-master {
  background-image: url(../images/sprite.png);
  background-position: -60px -105px;
  width: 50px;
  height: 28px;
}
.icon-ok {
  background-image: url(../images/sprite.png);
  background-position: -90px -135px;
  width: 24px;
  height: 23px;
}
.icon-rbk {
  background-image: url(../images/sprite.png);
  background-position: -135px -84px;
  width: 50px;
  height: 28px;
}
.icon-sms {
  background-image: url(../images/sprite.png);
  background-position: -60px -75px;
  width: 50px;
  height: 30px;
}
.icon-stop {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 75px;
  height: 75px;
}
.icon-tw {
  background-image: url(../images/sprite.png);
  background-position: -162px -135px;
  width: 23px;
  height: 23px;
}
.icon-visa {
  background-image: url(../images/sprite.png);
  background-position: -135px -28px;
  width: 50px;
  height: 28px;
}
.icon-vk {
  background-image: url(../images/sprite.png);
  background-position: -138px -135px;
  width: 24px;
  height: 23px;
}
.icon-webmoney {
  background-image: url(../images/sprite.png);
  background-position: -135px 0px;
  width: 50px;
  height: 28px;
}
.icon-ya-money {
  background-image: url(../images/sprite.png);
  background-position: -135px -56px;
  width: 50px;
  height: 28px;
}
.icon-ya {
  background-image: url(../images/sprite.png);
  background-position: -20px -163px;
  width: 23px;
  height: 23px;
}
