@import 'variables';
.scroll-img {
  width: 1102px;
  height: 163px;
  margin: 0 auto;
  overflow: hidden;
  ul{
    li{
      display: inline-block;
      margin: 10px 15px 0 15px;
      width: 148px;
      height: 148px;
      .darken-row;
      border: 2px solid @orange;
      text-align: center;
      a{
        display: block;
        margin: 20px 0 0;
        text-decoration: none;
      }
      h3{
        color: @white;
        font: normal 14px 'Verdana';
        text-transform: uppercase;
        margin-top: 20px;
      }
    }
  }
} 
#demo5.scroll-img ul {
  width: 1500px;
}
#demo5-btn {
  width: 100%;
  padding-top: 10px;
  position: relative;
  .btn{
    position: absolute;
    border: 0;
    top: -130px;
    &:hover{
      cursor: pointer;
    }
  }
  .left{
    left: 0;
    display: block;
    background: url('../images/arrow.png');
    width: 33px;
    height: 110px;
  }
  .right{
    right: 0;
    display: block;
    background: url('../images/arrow.png');
    width: 33px;
    height: 110px;
    .rotate(-180deg);
  }
}


