@white: #fff;
@black: #000; 
@yellow: #ffea00;
@grey: #767676;
@orange: #ff8a00;

.border-color{
	background: #ffff01;
	background: -moz-linear-gradient(top,  #ffff01 0%, #ffff01 35%, #ffd800 42%, #ffc000 48%, #ffa800 57%, #ff9e00 64%, #ff9f00 91%, #ffa300 100%);
	background: -webkit-linear-gradient(top,  #ffff01 0%,#ffff01 35%,#ffd800 42%,#ffc000 48%,#ffa800 57%,#ff9e00 64%,#ff9f00 91%,#ffa300 100%);
	background: linear-gradient(to bottom,  #ffff01 0%,#ffff01 35%,#ffd800 42%,#ffc000 48%,#ffa800 57%,#ff9e00 64%,#ff9f00 91%,#ffa300 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff01', endColorstr='#ffa300',GradientType=0 );
}
.games-item-bg{
	background: #e8a800;
	background: -moz-linear-gradient(top,  #e8a800 0%, #ebb701 10%, #faf600 37%, #fcfd01 42%, #ffff00 51%, #fff700 58%, #feed00 62%, #ffd302 71%, #ff8901 91%, #ff7900 98%, #ff7903 99%, #ff7403 100%);
	background: -webkit-linear-gradient(top,  #e8a800 0%,#ebb701 10%,#faf600 37%,#fcfd01 42%,#ffff00 51%,#fff700 58%,#feed00 62%,#ffd302 71%,#ff8901 91%,#ff7900 98%,#ff7903 99%,#ff7403 100%);
	background: linear-gradient(to bottom,  #e8a800 0%,#ebb701 10%,#faf600 37%,#fcfd01 42%,#ffff00 51%,#fff700 58%,#feed00 62%,#ffd302 71%,#ff8901 91%,#ff7900 98%,#ff7903 99%,#ff7403 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8a800', endColorstr='#ff7403',GradientType=0 );
}
.radial-darken-row{
	background: #040404;
	background: -moz-linear-gradient(top,  #040404 0%, #252525 50%, #040404 100%);
	background: -webkit-linear-gradient(top,  #040404 0%,#252525 50%,#040404 100%);
	background: linear-gradient(to bottom,  #040404 0%,#252525 50%,#040404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040404', endColorstr='#040404',GradientType=0 );
}
.darken-row{
	background: #2d2a1a;
	background: -moz-linear-gradient(top,  #2d2a1a 0%, #313027 6%, #35332c 8%, #353533 11%, #353535 17%, #2e2e2d 28%, #17150d 52%, #0e0b02 66%, #050402 86%, #030302 100%);
	background: -webkit-linear-gradient(top,  #2d2a1a 0%,#313027 6%,#35332c 8%,#353533 11%,#353535 17%,#2e2e2d 28%,#17150d 52%,#0e0b02 66%,#050402 86%,#030302 100%);
	background: linear-gradient(to bottom,  #2d2a1a 0%,#313027 6%,#35332c 8%,#353533 11%,#353535 17%,#2e2e2d 28%,#17150d 52%,#0e0b02 66%,#050402 86%,#030302 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2a1a', endColorstr='#030302',GradientType=0 );
}
.darken-row-rotate{
	background: #000000;
	background: -moz-linear-gradient(top,  #000000 0%, #030303 19%, #131313 72%, #191919 100%);
	background: -webkit-linear-gradient(top,  #000000 0%,#030303 19%,#131313 72%,#191919 100%);
	background: linear-gradient(to bottom,  #000000 0%,#030303 19%,#131313 72%,#191919 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#191919',GradientType=0 );
}
.blue-gradient{
	background: #002c85;
	background: -moz-linear-gradient(top,  #002c85 0%, #000c24 100%);
	background: -webkit-linear-gradient(top,  #002c85 0%,#000c24 100%);
	background: linear-gradient(to bottom,  #002c85 0%,#000c24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c85', endColorstr='#000c24',GradientType=0 );
}
.button-yellow-gragient{
	background: #ffff01;
	background: -moz-linear-gradient(top,  #ffff01 0%, #ffff01 33%, #fff301 36%, #ffd300 44%, #ffc000 51%, #ffaa00 62%, #ffa101 69%, #ff9e00 76%, #ff9f00 100%);
	background: -webkit-linear-gradient(top,  #ffff01 0%,#ffff01 33%,#fff301 36%,#ffd300 44%,#ffc000 51%,#ffaa00 62%,#ffa101 69%,#ff9e00 76%,#ff9f00 100%);
	background: linear-gradient(to bottom,  #ffff01 0%,#ffff01 33%,#fff301 36%,#ffd300 44%,#ffc000 51%,#ffaa00 62%,#ffa101 69%,#ff9e00 76%,#ff9f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff01', endColorstr='#ff9f00',GradientType=0 );
}
.bg-total-list{
	background: #2187b3;
	background: -moz-linear-gradient(top,  #2187b3 0%, #2791a5 3%, #24a2a6 7%, #1db1b3 10%, #14bfcc 14%, #14bfcc 17%, #14b3cc 21%, #148dcc 28%, #146fcc 34%, #1464c2 38%, #145bae 41%, #14549f 45%, #144680 55%, #133e71 66%, #133e71 72%, #124982 79%, #135c96 86%, #1b5a84 90%, #1e5174 93%, #254f6d 97%, #2e506c 100%);
	background: -webkit-linear-gradient(top,  #2187b3 0%,#2791a5 3%,#24a2a6 7%,#1db1b3 10%,#14bfcc 14%,#14bfcc 17%,#14b3cc 21%,#148dcc 28%,#146fcc 34%,#1464c2 38%,#145bae 41%,#14549f 45%,#144680 55%,#133e71 66%,#133e71 72%,#124982 79%,#135c96 86%,#1b5a84 90%,#1e5174 93%,#254f6d 97%,#2e506c 100%);
	background: linear-gradient(to bottom,  #2187b3 0%,#2791a5 3%,#24a2a6 7%,#1db1b3 10%,#14bfcc 14%,#14bfcc 17%,#14b3cc 21%,#148dcc 28%,#146fcc 34%,#1464c2 38%,#145bae 41%,#14549f 45%,#144680 55%,#133e71 66%,#133e71 72%,#124982 79%,#135c96 86%,#1b5a84 90%,#1e5174 93%,#254f6d 97%,#2e506c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2187b3', endColorstr='#2e506c',GradientType=0 );
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 	 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.border-radius(@radius) {
	border-radius: ;
	-webkit-border-radius: @radius;  
	-moz-border-radius:    @radius;
	-ms-border-radius:     @radius; 
	-o-border-radius:      @radius;  
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.inner{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	&:after,&:before{
		content: '';
		display: block;
		clear: both;
	}
}